/* NAV */
.section_header_y_reserva {
    position: relative;
    overflow: hidden;

    .img_fondo_nav {
        opacity: 0.7;
        height: fit-content;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

    .div_header_y_reserva{
        position:relative;
    }

    .header_nav {
        height: 70px;
        width: 100%;
        min-width: 300px;
        display: flex;
    
        .btn_check {
            font-size: 30px;
            color: white;
            float: right;
            line-height: 60px;
            margin-right: 20px;
            cursor: pointer;
            display: none;
        }
    
        #check {
            display: none;
        }
    
        .header_navbar_list {
            display: flex;
            width: 100%;
            justify-content: flex-start !important;
            text-align: center;
            line-height: 70px;
    
            li {
                margin: 0px 15px;
    
                a {
                    font-weight: 900;
                    text-decoration: none;
                    list-style: none;
                    transition: 0.3s;
                    color: rgb(0, 0, 0);

                    &:hover{
                        text-decoration: underline;
                    }

                    i{
                        color: black;
                    }
                }
            }
        }
    }    
}


/* NAV RESPONSIVE */

@media(max-width:798px) {
    .fondo_futbol{
        .header_nav {
            justify-content: center;
    
            .btn_check {
                display: block;
            }
    
            .icons_header_login{
                position: initial;
            }
    
            #check:checked~.header_navbar_list {
                left: 0;
            }
            
            .header_navbar_list {
                position: fixed;
                display: block !important;
                line-height: 30px;
                text-align: center;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.904);
                top: 70px;
                left: -100%;
                transition: all 0.5s;
                
                li {
                    margin: 10px 0px;
                    .list_icons {
                        display: none;
                    }
                    
                    a {
                        background-color: transparent;
                        font-size: 20px;
                        
                        &:hover {
                            background: none;
                            background-color: none;
                        }
                    }
                }
            }
        }
    }
}