/* ICONOS */

.fa-solid {
    margin-right: 5px;
    color: white;
}

.main_formacion_list .fa-solid {
    margin-left: 5px;
    color: white;
    transition: 0s;
}

.main_formacion_list .fa-brands {
    margin-left: 5px;
    color: white;
    transition: 0s;
}

.fa-brands {
    margin-right: 5px;
}

#up_arrow {
    margin: 0;
}

.icons_header_login {
    position: absolute;
    right: 0px;
    display: flex;
    margin: 10px 15px;

    a {
        margin: 0px 15px;

        div {
            color: rgb(0, 0, 0);
            height: fit-content;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            
            &:hover {
                label{
                    cursor:pointer;
                }
                span{
                    text-decoration: underline;
                }
            }
            
            span {
                display: block;
                text-align: center;
            }
        }
    }
}