.section_contacto{
    background-color: black;
    min-height:600px;

    .titulo_contacto{
        margin: auto;
        margin-bottom: 20px;
        font-weight: bolder;
        font-size: 28px;
        padding: 10px 0px;
        color: white;
        text-align: center;
    }
    .containers_contacto{
        display: flex;
        flex-wrap: wrap !important;
        justify-content: space-evenly;
        
        .container_consulta{
            width: 50%;
            h3{
                color: white;
                font-weight: bold;
                text-align: center;
                font-size: 24px;
            }
            h5{
                color: white;
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
            }
            .form_contacto_consulta{
                display: flex;
                flex-direction: column;
                
                input{
                    width: 60%;
                    height: 40px;
                    border-radius: 20px;
                    border: none;
                    margin: auto;
                    margin-bottom: 15px;
                    text-align: center;
                    color: black;
                    font-weight: 600;
                    
                    &::placeholder{
                        text-align: center;
                        color: black;
                        font-weight: 500;
                    }
                }
                label{
                    margin: auto;
                    color: white;
                    font-weight: 600;
                }
                textarea{
                    width: 60%;
                    padding: 10px;
                    border-radius: 20px;
                    border: none;
                    margin: auto;
                    color: black;
                    font-weight: 600;
                    &::placeholder{
                        text-align: center;
                        color: black;
                        font-weight: 500;
                    }
                }
                #button_reservar{
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    transition: 0.3s;
                    font-size: 18px;
                    background-color: $color-secundary;
                    border-radius: 10px;
                    border: none;
                    margin: 20px auto;
                    width: 120px;
                    height: 45px;
                    display: block;
    
                    &:hover {
                        background-color: $color-primary;
                        transition: 0.3s;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
        .container_preguntas_frecuentes{
            width: 50%;
            
            h3 {
                text-transform: capitalize;
                color: white;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                margin-bottom: 50px;
            }
            .accordion {
                width: 600px;
                margin: auto;
                text-align: justify;

                .accordion-item{
                    margin-bottom: 20px;
                    color: white;
                    border: none;
                    background-color: transparent;

                    .accordion-header {
                        color: white;
                        
                        .accordion-button {
                            font-weight: 600;
                            color: white;
                            border-radius: 0px;
                            font-size: 18px;
                            
                            &:hover{
                                color: $color-primary;
                            }
                            
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        
                        .accordion-button:not(.collapsed){
                            background-color: transparent;
                            box-shadow: none;
                            border-bottom: 1px solid $color-primary;
    
                            &::after{
                                background-image: unset;
                            }
                        }
                        .accordion-button:is(.collapsed){
                            background-color: transparent;
                            border-left: 1px solid $color-primary;

                            &::after{
                                background-image: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}