.section_instalaciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: auto;

    h3 {
        margin: 20px auto;
        font-size: 28px;
        color: rgb(0, 0, 0);
    }

    .div_foto_cancha {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 50px;

        img {
            width: 30%;
            margin: 0px 20px;
        }
        p {
            margin: 50px 20px 0px 0px;
            color: rgb(0, 0, 0);
            font-weight: 600;
            line-height: 25px;
            text-align: justify;
        }
    }
    
    .div_foto_bufete {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
        
        img {
            width: 30%;
            margin: 0px 20px;
        }
        p {
            font-weight: 600;
            margin: 50px 0px 0px 20px;
            color: rgb(0, 0, 0);
            line-height: 25px;
            text-align: justify;
        }
    }
}