.section_reserva_instalaciones {
    background: linear-gradient(0deg, rgb(0, 182, 118) 45%, rgba(0, 182, 118,0.7) 80%, rgba(255,255,255,0) 100%);
    .section_reservas{
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        width: 100%;
        height: 600px;
        
        .div_conocenos {
            width: 75%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            
            .div_form_reservar {
                margin: auto 10px;
                width: 40%;
                padding-right: 10px;
                
                div{
                    width: 100%;
    
                    label{
                        display: block;
                        font-weight: 600;
                        margin-left: 10px;
                        color: rgb(255, 255, 255);
                    }
                    input{
                        width: 100%;
                        height: 40px;
                        display: block;
                        border-radius: 20px;
                        border: none;
                        transition: 0.3s;
                        margin-bottom: 15px;
                        padding: 10px;
                        font-weight: 600;
                        
                        &::placeholder{
                            color: black;
                            padding: 5px;
                            font-weight: 500;
                        }
                    }
                    select{
                        @extend input;
                        padding: 0px 10px;
                    }
                }
                #button_reservar{
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    list-style: none;
                    transition: 0.3s;
                    font-size: 18px;
                    background-color: $color-secundary;
                    border-radius: 10px;
                    border: none;
                    padding: 10px 20px;
                    margin: 20px auto;
                    display: block;
    
                    &:hover {
                        background-color: rgb(0,0,0);
                        transition: 0.3s;
                        color: rgb(255, 255, 255);
                    }
                }
                #input_type_date {
                    padding: 10px;
                }
            }
    
            .div_conocenos_texto{
                margin: auto;
                width: 50%;
                margin-left: 70px;
                h3 {
                    font-size: 40px;
                    font-weight: bolder;
                    color: rgb(255, 255, 255);
                }
                p{
                    font-size: 24px;
                    color: rgb(255, 255, 255);
                    width: 80%;
                }
            }
        }
        
        
        .div_informacion_util {
            width: 25%;
            margin: auto 40px;
            border-left: 2px solid rgb(0, 0, 0);
            padding-left: 20px;
            h3{
                font-size: 30px;
                font-weight: 600;
                color: rgb(0, 0, 0);
                text-align: center;
                margin-bottom: 40px;
            }
            p{
                font-size: 18px;
                text-align: justify;
                color: rgb(0, 0, 0);
                font-weight: 500;
            }
        }
    }
}


@media(max-width:1350px){
    .section_reservas{
        .div_conocenos{
            justify-content: center;
            height: fit-content !important;
            .div_conocenos_texto{
                width: 100% !important;
                margin: 20px 0px !important;
                text-align: center;
                p{
                    width: 100% !important;
                }
            }
            .div_form_reservar{
                padding-right: 0px !important;
                width: 60% !important;
            }
        }
        .div_informacion_util{
            margin-left: 0px !important;
        }
    }
}

@media(max-width:1170px){
    .section_reservas{
        .div_informacion_util{
            display: none !important;
        }
    }
    .div_informacion_util_cel{
        display: block !important;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 20px auto;
        h3{
            font-size: 30px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            text-align: center;
            margin: 10px 0px;
        }
        p{
            font-size: 18px;
            text-align: center;
            margin: 0px 20px;
            color: rgb(255, 255, 255);
            font-weight: 500;
        }

    }
}

@media(max-width:890px){
    .div_form_reservar{
        width: 80% !important;
    }
}